<h1>New Event</h1>
<hr>      
<%= form_with scope: :event, url: events_path, local: true do |form| %>

<% if @event.errors.any? %>
    <div>
      <h2>
        <%= pluralize(@event.errors.count, "error") %> prohibited
        this event from being saved:
      </h2>
      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :"Sport type" %><br>
    <%= form.text_field :sport %>
  </p>
  
  <p>
    <%= form.label :"Place" %><br>
    <%= form.text_area :place %>
  </p>
  
  <p>
    <%= form.label :"Date" %><br>
    <%= form.datetime_local_field :dateti %>
  </p>
  
  <p>
    <%= form.label :"Contact" %><br>
    <%= form.text_area :contact %>
  </p>
  
  <p>
    <%= form.submit %>
  </p>
  
<% end %>
<%= link_to 'Back to calendar', calendar_path %>