<h1>New event has been created</h1>
<hr>
<p>
  <strong>Sport:</strong>
  <%= @event.sport %>
</p>

<p>
  <strong>Place:</strong>
  <%= @event.place %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.dateti %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @event.contact %>
</p>
<%= link_to 'Back to calendar', calendar_path %>